## Exercise 2: Missing Value Preprocessing with High Reproducibility

In [0]:
import numpy as np
import pandas as pd

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/TrainingByPackt/Big-Data-Analysis-with-Python/master/Lesson07/Dataset/bank.csv', sep=';')

In [3]:
df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [0]:
import collections
import random
replaced = collections.defaultdict(set)
ix = [(row, col) for row in range(df.shape[0]) for col in range(df.shape[1])]
random.shuffle(ix)
to_replace = int(round(.1*len(ix)))

In [0]:
for row, col in ix:
    if len(replaced[row]) < df.shape[1] - 1:
        df.iloc[row, col] = np.nan
        to_replace -= 1
        replaced[row].add(col)
        if to_replace == 0:
            break

In [6]:
print(df.isna().sum())

age          459
job          503
marital      487
education    477
default      458
balance      425
housing      442
loan         420
contact      479
day          429
month        420
duration     461
campaign     478
pdays        444
previous     400
poutcome     453
y            451
dtype: int64

In [7]:
num = df._get_numeric_data()
Q1 = num.quantile(0.25)
Q3 = num.quantile(0.75)
IQR = Q3 - Q1
print(num < (Q1 - 1.5 * IQR))
print(num > (Q3 + 1.5 * IQR))

        age  balance    day  duration  campaign  pdays  previous
0     False    False  False     False     False  False     False
1     False    False  False     False     False  False     False
2     False    False  False     False     False  False     False
3     False    False  False     False     False  False     False
4     False    False  False     False     False  False     False
5     False    False  False     False     False  False     False
6     False    False  False     False     False  False     False
7     False    False  False     False     False  False     False
8     False    False  False     False     False  False     False
9     False    False  False     False     False  False     False
10    False    False  False     False     False  False     False
11    False    False  False     False     False  False     False
12    False    False  False     False     False  False     False
13    False    False  False     False     False  False     False
14    False    False  False     False     False  False     False
15    False    False  False     False     False  False     False
16    False    False  False     False     False  False     False
17    False    False  False     False     False  False     False
18    False    False  False     False     False  False     False
19    False    False  False     False     False  False     False
20    False    False  False     False     False  False     False
21    False    False  False     False     False  False     False
22    False    False  False     False     False  False     False
23    False    False  False     False     False  False     False
24    False    False  False     False     False  False     False
25    False    False  False     False     False  False     False
26    False    False  False     False     False  False     False
27    False    False  False     False     False  False     False
28    False    False  False     False     False  False     False
29    False    False  False     False     False  False     False
...     ...      ...    ...       ...       ...    ...       ...
4491  False    False  False     False     False  False     False
4492  False    False  False     False     False  False     False
4493  False    False  False     False     False  False     False
4494  False    False  False     False     False  False     False
4495  False    False  False     False     False  False     False
4496  False    False  False     False     False  False     False
4497  False    False  False     False     False  False     False
4498  False    False  False     False     False  False     False
4499  False    False  False     False     False  False     False
4500  False    False  False     False     False  False     False
4501  False    False  False     False     False  False     False
4502  False    False  False     False     False  False     False
4503  False    False  False     False     False  False     False
4504  False    False  False     False     False  False     False
4505  False    False  False     False     False  False     False
4506  False    False  False     False     False  False     False
4507  False    False  False     False     False  False     False
4508  False    False  False     False     False  False     False
4509  False    False  False     False     False  False     False
4510  False    False  False     False     False  False     False
4511  False    False  False     False     False  False     False
4512  False    False  False     False     False  False     False
4513  False    False  False     False     False  False     False
4514  False    False  False     False     False  False     False
4515  False    False  False     False     False  False     False
4516  False    False  False     False     False  False     False
4517  False     True  False     False     False  False     False
4518  False    False  False     False     False  False     False
4519  False    False  False     False     False  False     False
4520  False    False  False     False     False  False     False

[4521 rows x 7 columns]
        age  balance    day  duration  campaign  pdays  previous
0     False    False  False     False     False  False     False
1     False     True  False     False     False   True      True
2     False    False  False     False     False   True      True
3     False    False  False     False     False  False     False
4     False    False  False     False     False  False     False
5     False    False  False     False     False   True      True
6     False    False  False     False     False  False      True
7     False    False  False     False     False  False     False
8     False    False  False     False     False  False     False
9     False    False  False     False     False   True      True
10    False     True  False     False     False  False     False
11    False    False  False     False     False  False     False
12    False    False  False     False     False  False     False
13    False    False  False     False     False  False     False
14    False    False  False     False     False   True     False
15    False    False  False     False     False  False     False
16    False     True  False     False     False  False     False
17    False    False  False     False     False   True      True
18    False    False  False     False     False  False     False
19    False    False  False     False     False   True      True
20    False    False  False     False     False  False     False
21    False    False  False     False     False  False     False
22    False    False  False     False     False  False     False
23    False    False  False     False     False  False     False
24    False    False  False     False     False  False     False
25    False     True  False     False     False  False     False
26    False    False  False     False     False  False     False
27    False    False  False     False     False   True      True
28    False    False  False     False     False  False     False
29    False    False  False     False     False  False     False
...     ...      ...    ...       ...       ...    ...       ...
4491  False    False  False     False     False  False     False
4492  False    False  False     False     False   True      True
4493  False    False  False     False     False  False     False
4494  False    False  False     False     False  False     False
4495  False    False  False      True     False  False     False
4496  False    False  False     False     False  False     False
4497  False    False  False     False     False  False     False
4498  False    False  False      True     False  False     False
4499  False    False  False     False     False  False     False
4500  False     True  False     False     False  False     False
4501  False    False  False     False     False  False     False
4502  False    False  False     False     False  False     False
4503  False    False  False      True     False  False     False
4504  False    False  False      True     False   True      True
4505  False    False  False      True     False  False     False
4506  False    False  False     False     False  False     False
4507  False    False  False     False     False  False     False
4508  False    False  False     False     False  False     False
4509  False    False  False     False     False  False     False
4510  False    False  False     False     False  False     False
4511  False    False  False      True     False  False     False
4512  False    False  False      True     False  False     False
4513  False    False  False     False     False  False     False
4514  False    False  False     False     False   True      True
4515  False    False  False     False     False  False     False
4516  False    False  False     False     False  False     False
4517  False    False  False     False     False  False     False
4518  False    False  False     False      True  False     False
4519  False    False  False     False     False  False      True
4520  False    False  False     False     False   True      True

[4521 rows x 7 columns]